.block-resize {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgb(15, 65, 204);
  z-index: 999;
  user-select: none;
  &-top {
    top: -4px;
    left: calc(50% - 4px);
    &-left {
      top: -4px;
      left: -4px;
    }
    &-right {
      top: -4px;
      right: -4px;
    }
  }
  &-bottom {
    bottom: -4px;
    left: calc(50% - 4px);
    &-left {
      bottom: -4px;
      left: -4px;
    }
    &-right {
      bottom: -4px;
      right: -4px;
    }
  }
  &-left {
    left: -4px;
    top: calc(50% - 4px);
  }
  &-right {
    right: -4px;
    top: calc(50% - 4px);
  }
}
