.editor-block {
  position: absolute;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.editor-block-focus::after {
    border: dashed 2px red;
  }
  &.editor-block-preview::after {
    display: none;
  }
  // 拖拽时候动画取消掉
  .el-button,
  .el-input {
    transition: none;
  }
}
