.editor {
  width: 100vw;
  height: 100vh;
  display: flex;
  &-left,
  &-right {
    width: 270px;
    background: red;
    flex-shrink: 0;
  }
  &-left {
    &-item {
      position: relative;
      box-sizing: border-box;
      width: 250px;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
      padding: 20px;
      background: #fff;
      cursor: move;
      user-select: none;
      > span {
        position: absolute;
        left: 0;
        top: 0;
        padding: 4px;
        color: #fff;
        background: cyan;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #ccc;
        opacity: 0.2;
      }
    }
  }
  &-middle {
    position: relative;
    flex: 1;
    overflow: auto;
    margin: 0 10px;
  }
  &-top {
    position: absolute;
    width: 100%;
    height: 80px;
    background: blue;
  }
  &-container {
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    &-canvas {
      height: 100%;
      overflow: scroll;
      &__content {
        position: relative;
        margin: 20px auto;
        // width: 550px;
        // height: 550px;
        background: yellow;
      }
    }
  }
}
