.editor-block {
  position: absolute;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.block-editor-focus::after {
    border: dashed 2px red;
  }
  &.editor-block-preview::after {
    display: none;
  }
}
